WebApplication/Connected Services/OrderService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OrderService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Services.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOrderService_AddOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:AddOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderService_AddOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_AddSalesLineItemToOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSalesLineItemToOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderService_AddSalesLineItemToOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSalesLineItemToOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_ChangeOrderToPaid_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeOrderToPaid" />
  </wsdl:message>
  <wsdl:message name="IOrderService_ChangeOrderToPaid_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeOrderToPaidResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetAllOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllOrders" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetAllOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetSalesLineItemsFromOrderID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSalesLineItemsFromOrderID" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetSalesLineItemsFromOrderID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSalesLineItemsFromOrderIDResponse" />
  </wsdl:message>
  <wsdl:portType name="IOrderService">
    <wsdl:operation name="AddOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/AddOrder" message="tns:IOrderService_AddOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/AddOrderResponse" message="tns:IOrderService_AddOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSalesLineItemToOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/AddSalesLineItemToOrder" message="tns:IOrderService_AddSalesLineItemToOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/AddSalesLineItemToOrderResponse" message="tns:IOrderService_AddSalesLineItemToOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeOrderToPaid">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/ChangeOrderToPaid" message="tns:IOrderService_ChangeOrderToPaid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/ChangeOrderToPaidResponse" message="tns:IOrderService_ChangeOrderToPaid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/GetOrder" message="tns:IOrderService_GetOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/GetOrderResponse" message="tns:IOrderService_GetOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/GetAllOrders" message="tns:IOrderService_GetAllOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/GetAllOrdersResponse" message="tns:IOrderService_GetAllOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSalesLineItemsFromOrderID">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/GetSalesLineItemsFromOrderID" message="tns:IOrderService_GetSalesLineItemsFromOrderID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/GetSalesLineItemsFromOrderIDResponse" message="tns:IOrderService_GetSalesLineItemsFromOrderID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOrderService" type="tns:IOrderService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddOrder">
      <soap:operation soapAction="http://tempuri.org/IOrderService/AddOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSalesLineItemToOrder">
      <soap:operation soapAction="http://tempuri.org/IOrderService/AddSalesLineItemToOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeOrderToPaid">
      <soap:operation soapAction="http://tempuri.org/IOrderService/ChangeOrderToPaid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrder">
      <soap:operation soapAction="http://tempuri.org/IOrderService/GetOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllOrders">
      <soap:operation soapAction="http://tempuri.org/IOrderService/GetAllOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSalesLineItemsFromOrderID">
      <soap:operation soapAction="http://tempuri.org/IOrderService/GetSalesLineItemsFromOrderID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderService">
    <wsdl:port name="BasicHttpBinding_IOrderService" binding="tns:BasicHttpBinding_IOrderService">
      <soap:address location="http://localhost:8734/Services/OrderService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>