WebApplication/Connected Services/OrderService/Services.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Services.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Services.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderId" type="xs:int" />
      <xs:element minOccurs="0" name="SalesLineItems" nillable="true" type="tns:ArrayOfSalesLineItem" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
  <xs:complexType name="ArrayOfSalesLineItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SalesLineItem" nillable="true" type="tns:SalesLineItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSalesLineItem" nillable="true" type="tns:ArrayOfSalesLineItem" />
  <xs:complexType name="SalesLineItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Order" nillable="true" type="tns:Order" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="tns:Product" />
      <xs:element minOccurs="0" name="ProductVersion" nillable="true" type="tns:ProductVersion" />
      <xs:element minOccurs="0" name="amount" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="SalesLineItem" nillable="true" type="tns:SalesLineItem" />
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProductVersions" nillable="true" type="tns:ArrayOfProductVersion" />
      <xs:element minOccurs="0" name="State" type="xs:boolean" />
      <xs:element minOccurs="0" name="StyleNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:complexType name="ArrayOfProductVersion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductVersion" nillable="true" type="tns:ProductVersion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductVersion" nillable="true" type="tns:ArrayOfProductVersion" />
  <xs:complexType name="ProductVersion">
    <xs:sequence>
      <xs:element minOccurs="0" name="ColorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="tns:Product" />
      <xs:element minOccurs="0" name="SizeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stock" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductVersion" nillable="true" type="tns:ProductVersion" />
  <xs:complexType name="ArrayOfOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Order" nillable="true" type="tns:Order" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrder" nillable="true" type="tns:ArrayOfOrder" />
</xs:schema>